/* for small mobile devices */

@media (min-width: 280px) {
    body {
        background-image: url("../wallpaper.jpg");
        background-size: 200%;
    }
    .Homepage {
        font-family: "Luckiest Guy";
        text-align: center;
        display: flex;
        align-items: center;
        min-height: 100vh;
    }
    .Title {
        font-size: 36vw;
        color: rgb(54, 54, 54);
        margin-top: 20%;
        margin-bottom: 2%;
        text-shadow: 10px 10px 4px gray ;
        -webkit-text-stroke-width: 1.2vw;
        -webkit-text-stroke-color: #fba779;
        transform: rotate(-6deg);
        letter-spacing: -4px;
    }

    .Btn {
        display: block;
        font-size: 3.5vh;
        width: 62%;
        min-width: 62%;
        max-height: 10%;
        margin: 1% auto;
        border: none;
        text-align: center;
        font-family: 'Luckiest Guy', cursive;
        box-shadow: 1vh 1vh .75vh rgba(0,0,0,.4);
    }
    .PlayNow{
        background-color: #fecb10;
    }
    .SignIn{
        background-color: #ff7c9c;
    }
    .HowTo{
        background-color: #a9d7d2;
    }
    footer {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* For large mobile devices and tablets */

@media (min-width: 540px) {
    body {
        background-size: cover;
    }

    .Title {
        font-size: 22vw;
        -webkit-text-stroke-width: .6vw;
        margin-top: -6%;
    }
   /* .Btn{
        display: block;
        margin: auto;
        width: 45%;
        min-width: 45%;
        font-size: 3vh;
    }*/
}

/* For desktops and extra large tablets */

@media (min-width: 1024px) {
    .Title {
        font-size: 18vw;
        -webkit-text-stroke-width: .4vw;
        margin-top: 4%;
    }
}
