@media (min-width: 280px) {
    body {
        background-image: url("wallpaper.jpg");
        background-size: 200%;
    }
    h1 {
        font-size: 25vw;
        color: rgb(54, 54, 54);
        margin-top: 20%;
        text-shadow: 10px 10px 4px gray ;
        -webkit-text-stroke-width: 1vw;
        -webkit-text-stroke-color: #fba779;
        transform: rotate(-10deg);
        letter-spacing: -4px;
    }
    .container{
        margin: auto;
        padding: 7%;
    }
    h1, h2, h3{
        font-family: 'Luckiest Guy', cursive;
    }
    h2, h3{
        line-height: .95;
    }
    h2{
        font-size: 5.5vh;
        -webkit-text-stroke-width: .25vh;
        -webkit-text-stroke-color: #a9d7d2;
        text-shadow: .8vh .8vh .75vh rgba(0,0,0,.4);
        margin-top: 5%;
    }
    h3{
        font-size: 3vh;
        text-shadow: .5vh .5vh .5vh rgba(0,0,0,.4);
        -webkit-text-stroke-width: .1vh;
    }
    #question-same{
        -webkit-text-stroke-color: #fad9d9;
    }
    #question-win{
        -webkit-text-stroke-color: #b7d6eb;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 2vh;
        text-align: justify;
        line-height: 1.25;
        margin: .5rem 0;
    }
    p:last-of-type{
        margin-bottom: 2%;
    }
    .Btn{
        display: block;
        font-size: 3.5vh;
        width: 62%;
        min-width: 62%;
        max-height: 10%;
        margin: 1% auto;
        text-align: center;
        font-family: 'Luckiest Guy', cursive;
        box-shadow: 1vh 1vh .75vh rgba(0,0,0,.4);
    }
    .PlayNow{
        background-color: #fecb10;
        margin-top: 7%;
    }
    .Home{
        background-color: #b3b7da;
        margin-bottom: 3%;
    }
}
@media (min-width: 540px) {
        body {
            background-size: cover;
        }
        .container{
            max-width: 65%;
        }
        .Btn{
            display: inline-block;
            margin: auto 2%;
            width: 45%;
            min-width: 45%;
        }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 18vw;
        -webkit-text-stroke-width: .4vw;
        margin-top: 4%;
    }
}