.game-card-container {
    height: 32vh;
    position: relative;
    /* width: 50%; */
    /* border: solid black 2px; */
}

.game-card {
    position: relative;
    height: 100%;
}

.blank-game-card {
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 0;
}

.card-value {
    top: 0em;
    left: 1.5%;
    height: 98%;
    position: absolute;
    z-index: 1;
}

.card-suit {
    top: 32%;
    left: 7%;
    height: 37%;
    position: absolute;
    z-index: 1;
}

.value-red path{
    fill: pink;
}

.card-value-top {
    position: absolute;
    top: 5%;
    left: 8%;
    height: 20%;
}
.card-value-bottom {
    position: absolute;
    bottom: 7%;
    right: 8%;
    height: 20%;
    transform: rotate(180deg);
}



.demoWrapper {
    padding: 10px;
    background: gold;    
    box-sizing: border-box;
    /* resize: horizontal; */
    border: 1px dashed;
    overflow: auto;
    max-width: 100%;
    height: calc(100vh - 16px);
  }
  
  .demoCard {
    width: 100%;
    padding-bottom: 75%;
    background: white;
    border-radius: 10%;
  }
.demoWrapper2 {
    /* padding: 100px; */
    /* background: gold;     */
    box-sizing: border-box;
    /* resize: horizontal; */
    /* border: 1px dashed; */
    /* overflow: auto; */
    max-width: 20vh;
    /* max-width: 50%; */
    height: 29vh;
    /* height: calc(100vh - 50px); */
  }
  
.demoCard2 {
    width: 100%;
    height: 100%;
    padding: 2vh;
    background: white;
    border-radius: 10%;
    /* border: solid red 20px; */
    position: relative;
    }

.card-value2 {
    /* height: 10vh; */
    font-size: 8vh;
    line-height: 6vh;
    color: black;
    left: 1vh;
    top: 1.5vh;
    position: absolute;
}
.card-value2b {
    /* height: 10vh; */
    font-size: 8vh;
    line-height: 6vh;
    color: black;
    right: 1vh;
    bottom: 1.5vh;
    position: absolute;
    transform: rotate(180deg);
}