.game-card-container {
    height: 32vh;
    width: 50%;
    /* border: solid black 2px; */
}

.game-card {
    position: relative;
    height: 100%;
}

.blank-game-card {
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 0;
}

.card-value {
    top: 0em;
    left: 1.5%;
    height: 98%;
    position: absolute;
    z-index: 1;
}

.card-suit {
    top: 29%;
    left: 2.5%;
    height: 39%;
    position: absolute;
    z-index: 1;
}
